* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f9;
  font-family: "Roboto", sans-serif;
}
.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #0f4f92;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 10px;
  transition: width 0.3s ease;
}
.sidebar.collapsed {
  width: 40px;
}
.sidebar i {
  font-size: 20px;
  cursor: pointer;
}
.topbar {
  height: 50px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.topbar img {
  object-fit: contain;
  height: 30px;
}

.topbar h6 {
  color: #53b257;
}

.card-1-icon {
  color: #006600;
}
.card-2-icon {
  color: #9d85f0;
  background-color: #f1f2fd;
}
#card-2-num {
  color: #9d85f0;
}
.card-3-icon {
  color: #ffa902;
  background-color: #fef4e8;
}
#card-3-num {
  color: #ffa902;
}
.card-4-icon {
  color: #ed145b;
  background-color: #fff0f5;
}
#card-4-num {
  color: #ed145b;
}

.card-num {
  font-size: 24px;
}

.todo-item {
  padding: 10px;
  background: #f1f3f6;
  border-radius: 8px;
  margin-bottom: 8px;
}

.todo-item.active {
  background: #e7f1ff;
}

.custom-select {
  border: 1.5px solid #0a3b7e;
  color: #0a3b7e;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%230d6efd' viewBox='0 0 16 16'%3E%3Cpath d='M4 6l4 4 4-4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 14px;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}

.btn {
  padding: 1.5px 5px;
  background-color: #0a3b7e;
  color: white;
  border-radius: 8px;
  font-size: 16px;
}

/* To-DO  */
.todo-title {
  font-size: 14px;
  font-weight: 600;
}

.todo-subtext {
  font-size: 10px;
  color: #999999;
}

/* Meeting  */
.meeting-title {
  font-size: 16px;
  font-weight: 600;
}

.watch {
  color: #0a3b7e;
}

.meeting-subtext {
  font-size: 14px;
  color: #8d8d8d;
}

/* Event */
.events-scroll {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}

.event {
  min-width: 250px;
  display: flex;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
}
.events-scroll::-webkit-scrollbar {
  display: none;
}
.events-head {
  position: relative;
  font-size: 14px;
  color: #0f4f92;
  padding-left: 10px;
  font-weight: 600;
}

.events-head::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: linear-gradient(180deg, #73c7eb, #346aa2);
  border-radius: 2px;
}

.date {
  background: #f1f2fd;
  border-radius: 8px;
  padding: 4px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.event-name {
  font-size: 14px;
}

/* Feed  */
#feedList::-webkit-scrollbar {
  width: 5px;
}

#feedList::-webkit-scrollbar-track {
  background: transparent;
}

#feedList::-webkit-scrollbar-thumb {
  background-color: #d0d5dd;
  border-radius: 10px;
}

#feedList::-webkit-scrollbar-thumb:hover {
  background-color: #98a2b3;
}

#feedList {
  scrollbar-width: thin;
  scrollbar-color: #d0d5dd transparent;
}
.feed-item {
  border-radius: 10px;
  padding: 12px;
  background: #f8f9fb;
  border: 1px solid transparent;
}

.feed-item.unread {
  border: 1px solid #0d6efd;
  background: #eef4ff;
}

.feed-title {
  font-weight: 600;
}

.feed-sub {
  font-size: 13px;
  color: #6c757d;
}

.feed-meta {
  font-size: 12px;
  color: #868e96;
}

.feed-date {
  text-align: center;
  font-size: 12px;
  color: #6c757d;
  margin: 10px 0;
}

.toggle-btn-title {
  margin: 0 2px;
  border-radius: 999px;
  color: black;
  font-size: 15px;
}
.btn-check + .toggle-btn-title {
  background: transparent;
  border: none;
}

.btn-check:checked + .toggle-btn-title {
  background: #fff;
  border: 1px solid #dee2e6;
  color: #1359a2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#markAll {
  font-size: 15px;
  font-weight: 600;
}

.project-desc {
  font-size: 12px;
  color: #8d8d8d;
  width: 100%;
}
.project-status {
  color: #999999;
  font-size: 10px;
}

